
on:
  pull_request:

jobs:
  testcase:
    runs-on: ubuntu-latest
    permissions:
      issues: write 
    env:
      CONTEXT: ${{ toJSON(github) }}
    steps:
      - run: |
          token=$(
            echo "$CONTEXT" | jq '.token'
          )
          pr_number=$(
            echo "$CONTEXT" | jq '.event.pull_request.number'
          )
          comment="this is a comment"

          curl \
            -v \
            -H 'Accept: application/vnd.github.v3+json' \
            -H "Authorization: Bearer $token" \
            -XPOST \
            -d "{\"body\":\"$comment\"}" \
            "https://api.github.com/repos/${GITHUB_REPOSITORY}/issues/${pr_number}/comments"
